/* Main style
-------------------------------------------------- */

a.nav-link.first-item {
    padding-left: 0;
}

h2 {
    /* margin-bottom: 2rem !important; */
}

hr {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
}

p.lead {
    margin-top: 1rem;
}

i {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.container.page {
    margin-top: 5rem !important;
}

.btn.btn-danger.btn-block {
    margin-top: 4rem;
}

.featured-blogpost {
    background-color: #e9e9eb !important;
}

.card-text.price {
    margin-bottom: 0;
}

/* Hero style
-------------------------------------------------- */
.jumbotron.hero {
    color: white;
    background-image: url("../img/18.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
    padding-bottom: 23rem;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 356px;
    height: 100%;
}

.container.mt-5 {
    margin-top: 4rem !important;
}

.footer-top {
    margin-top: 4rem;
}

.footer-bottom {
    margin-top: 2rem;
}

.footer-credit {
    margin-top: 2rem;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 356px; /* Set the fixed height of the footer here */
}
